services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: gdash_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: teste
      RABBITMQ_DEFAULT_PASS: senha

  producer:
    build:
      context: ./python-producer
      dockerfile: Dockerfile
    container_name: gdash_producer
    depends_on:
      - rabbitmq
    environment:
      LAT: -25.4284
      LON: -49.2733
      LOCATION_NAME: "Curitiba - PR"
      QUEUE_NAME: "weather_queue"
      RABBIT_URL: "amqp://teste:senha@rabbitmq:5672"
      INTERVAL: 300
    restart: always
    tty: true
    stdin_open: true

  worker:
    build:
      context: ./go-worker
      dockerfile: Dockerfile
    container_name: gdash_worker
    depends_on:
      - rabbitmq
    environment:
      QUEUE_NAME: "weather_queue"
      RABBIT_URL: "amqp://teste:senha@rabbitmq:5672"
    restart: unless-stopped

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 12345
    volumes:
      - mongodb_data:/data/db

  api:
    container_name: gdash_api
    build:
      context: ./nest-api
      dockerfile: Dockerfile
    ports:
      - "3004:3004"
    env_file:
      - "./nest-api/.env"
    volumes:
      - ./nest-api/src:/usr/src/app/src
      - ./nest-api/nest-cli.json:/usr/src/app/nest-cli.json
      - ./nest-api/tsconfig.json:/usr/src/app/tsconfig.json
      - ./nest-api/tsconfig.build.json:/usr/src/app/tsconfig.build.json
    tty: true
    stdin_open: true

  frontend:
    container_name: gdash_frontend
    build:
      context: ./react-dashboard
      dockerfile: Dockerfile
    ports:
      - "3005:80"
    env_file:
      - "./react-dashboard/.env"
    restart: always

volumes:
  mongodb_data:
