# fly.toml app configuration file generated for desafio-gdash-2025-02-wispy-glade-5189 on 2025-12-07T18:59:16-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'desafio-gdash-2025-02-wispy-glade-5189'
primary_region = 'gru'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
