# fly.toml app configuration file generated for nest-api-crimson-glade-5626 on 2025-12-07T19:19:14-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nest-api-crimson-glade-5626'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 3004
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
